body {
  margin-top: 110px;
  background-color: #eee;
}

a {
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: inherit;
}

.ui.reallyHuge.header {
  font-size: 40px;
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 30px;
}

.ui.long.header {
  width: 300px;
}

.ui.divider {
  background-color: #535353;
}

#topmenu {
  height: 45px;
  box-shadow: none;
  border: none;
}

#blackmenu {
  margin-top: 45px;
  height: 65px;
  background-color: black;
}

#blackfooter {
  margin-top: 70px;
  height: 520px;
  background-color: black;
}

#blackfooter h1 {
  color: white;
  font-size: 23px;
  font-weight: bold;
  margin-top: 40px;
}

#blackfooter .ui.menu {
  background-color: black;
  height: 120px;
  margin-top: 40px;
}

#blackfooter .whitetext {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  margin-right: 10px;
}

#blackfooter .graytext {
  color: gray;
  font-size: 18px;
  font-weight: lighter;
}

#blackfooter a {
  color: #209d20;
  margin-top: 10px;
  font-size: 15px;
}

#whitefooter {
  height: 150px;
  background-color: white;
}

#whitefooter .ui.menu {
  box-shadow: none;
  border: none;
}

#whitefooter .graytext {
  color: lightgray;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#whitefooter .small {
  font-size: 15px;
  font-weight: lighter;
}

#whitefooter .tiny {
  font-size: 12px;
  font-weight: lighter;
}

#shop .header {
  font-weight: lighter;
}

#gaming .header {
  font-weight: lighter;
}